@import '../../sass/_variables.scss';

.translation-container {
  width: auto;
  max-width: 800px;
  margin: 0 auto;
  .translation-box {
    display: flex;
    justify-content: space-between;
    .column {
      width: 370px;
      textarea {
        padding: 10px 20px;
        width: 100%;
        height: 200px;
        border: 2px solid $primary;
        resize: none;
      }
    }
  }
}

