@import '../../sass/_variables.scss';

.translation-container {
  width: auto;
  max-width: 800px;
  margin: 0 auto;
  .translation-box {
    display: flex;
    flex-direction: column;
    .language-container {
      text-align: center;
    }
  }
}

