<div class="translation-container">
  <div class="translation-box">
    <div class="column">
      <textarea autocomplete="off" (change)="getTranslation()" [formControl]="uaControl" placeholder="Англійська"></textarea>
    </div>
    <div class="icon-container">
      <fa-icon [icon]="['fas', 'exchange-alt']"></fa-icon>
    </div>
    <div class="column">
      <textarea autocomplete="off" [formControl]="enControl" placeholder="Українська"></textarea>
    </div>
  </div>
  <button mat-raised-button (click)="addWord()" color="primary">Додати пару</button>
</div>
