<div class="translation-container">
  <div class="translation-box">
    <div class="language-container">
      <h1>Мова перекладу</h1>
      <mat-button-toggle-group (change)="onChangeLanguage($event.value)" [value]="language" name="Language" aria-label="Language">
        <mat-button-toggle value="uk">Українська</mat-button-toggle>
        <mat-button-toggle value="en">Англійська</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-form-field class="inputs-container">
      <input matInput autocomplete="off" placeholder="Введіть слово або фразу для перекладу" [formControl]="textControl" />
      <button title="Натисніть щоб перекласти" mat-button *ngIf="text" matSuffix mat-icon-button aria-label="Перекласти" (click)="getTranslation()">
        <fa-icon size="lg" [icon]="['fas', 'exchange-alt']"></fa-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="inputs-container" *ngIf="translationIsShown">
      <input matInput autocomplete="off" placeholder="Ви можете внести зміни до перекладу якщо потрібно" [formControl]="translationControl" />
    </mat-form-field>
  </div>
  <button *ngIf="translationIsShown" mat-raised-button (click)="addWord()" color="primary">Додати пару</button>
</div>
