@import '../../sass/_variables.scss';

.learn-words-list-item {
  display: flex;
  &:hover {
    .delete {
      display: block;
    }
  }
  .word, .translation {
    min-width: 300px;
  }
  .delete {
    display: none;
    color: $red;
    cursor: pointer;
  }
}
