@import '../sass/_variables.scss';

.app-container {
  height: 100%;
  .sidebar {
    width: 200px;
    padding: 20px 15px;
    background-color: $sidebar-bg;
  }
  .content {
    padding: 20px 30px;
    background-color: $white;
  }
}
